---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Helm CD
permissions: { contents: read }

on:
  workflow_dispatch:
    inputs:
      dry-run:
        description: Dry Run
        default: false
        required: false
        type: boolean
      select:
        description: "Select chart to run on"
        required: false
        default: ""
        type: string
  push:
    paths:
      - ".github/workflows/helm-cd.yaml"
      - ".mise.toml"
      - "charts/**"

jobs:
  discover-charts:
    runs-on: ubuntu-latest
    outputs:
      charts: ${{ steps.discover.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Find Helm Charts
        id: discover
        uses: mirceanton/action-folder-matrix@8f6a91bf1350c3b57d8e23199a37763399a8bdde # v2.1.3
        with:
          path: ./charts
          metadata-file: Chart.yaml
          changed-only: ${{ github.event_name != 'workflow_dispatch' }}
          filter: ${{ inputs.select }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

  helm-push:
    needs: discover-charts
    runs-on: ubuntu-latest
    if: fromJson(needs.discover-charts.outputs.charts).include[0] != null
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.discover-charts.outputs.charts) }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1

      - name: Package Helm chart
        working-directory: ./charts/${{ matrix.directory }}
        run: helm package .

      - name: Helm login to GHCR
        run: |
          echo ${{ secrets.GHCR_RW_TOKEN }} | helm registry login ghcr.io --username ${{ github.actor }} --password-stdin

      - name: Push Helm chart to GHCR
        if: (github.ref_name == 'main') || ( github.event_name == 'workflow_dispatch' && inputs.dry-run == false)
        working-directory: ./charts/${{ matrix.directory }}
        run: helm push "$(ls ./*.tgz)" oci://ghcr.io/${{ github.repository }}
