---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Label Sync
permissions: { contents: read }

on:
  schedule: [{ cron: "0 * * * *" }]
  workflow_dispatch:
    inputs:
      dry-run:
        description: Dry Run
        default: true
        required: false
        type: boolean

  pull_request:
    paths:
      - .github/workflows/label-sync.yaml
      - .github/labels.yaml

  push:
    branches: ["main", "master"]
    paths:
      - .github/workflows/label-sync.yaml
      - .github/labels.yaml

jobs:
  label-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          token: "${{ steps.app-token.outputs.token }}"
          sparse-checkout: "${{ env.LABEL_SYNC_CONFIG_FILE }}"

      - name: Sync Labels
        uses: EndBug/label-sync@52074158190acb45f3077f9099fea818aa43f97a # v2.3.3
        with:
          dry-run: "${{ (inputs.dry-run || github.event_name == 'pull_request') == true }}"
          token: "${{ steps.app-token.outputs.token }}"
          config-file: .github/labels.yaml
